.topnav{
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.links-start a{
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 1s ease;
}


.links-start a:hover{
  background-color: #575757;
}


.links-end a{
    color: white;
    text-align: center;
    padding: 10px;
    transition: background-color 1s ease;
}

.links-end a:hover{
  background-color: #575757;
}